/* src/assets/scss/styles.scss */
@import "bootstrap/scss/bootstrap";
$primary-color: #0066cc;
$secondary-color: #ff6600;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.header {
  background-color: $primary-color;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px 0;
}
